.btn1 {
  background: linear-gradient(white 0 0) padding-box, linear-gradient(to right, #fb3570, #9c20aa) border-box;
  padding: 7px 20px;
  border: 2px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  }
  
  
 